 .head{
  display: flex;
    height: 5%;
    width: 100%;
    text-align: right;
    border: 2px solid gray;
    border-radius:5px ;
    padding: 5px 0px;
}
.logo{
  margin-top: 5px;
  margin-right: auto;
}
/* .subhead{
    background-color: white;
    width: 100%;
    border: 2px solid black;
    border-radius:5px ;
    /* height: 35px; 
    padding: 10px 10px;
    display: flex;
    text-align: left;
} */

.headmenu {
    display: flex;
    
    float: none;
}
.headmenu a {
  margin: 0;
  padding: 5px;
  text-decoration: none;
  border-radius: 4px;
  color: rgb(31, 188, 241);
}

.headmenu .active{
  background-color: #4dabf5;
  color: white;
}
 
.gallery {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;  
  align-items: center;              
  gap: 5px;
}

.tile {
  display: flex;
  height: 230px;
  
  justify-content: center;
}
.tile:nth-child(odd){
  margin-top: 15px;
}

.tile img{
  
  width: 100%;
  height: 100%;
  
}








.head button{
    border-radius: 2px;
    border: 0px;
    background-color: white;
    cursor: pointer;
}



.square--gallery{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    gap: 15px;
}
.fram{
    
   
    text-align: center;
    margin: 0 15px;
}
.square {
    
  width: 70px;
  height: 70px;
  border: 2px solid gray;
  object-fit: cover;   
}

.content{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-items: center;
}
.articles{
  display: flex;
  flex-direction: column;
}

.article-content{
  display: flex;
  gap:15px;
}
.article-content img {
  min-width: 30%;
  height: 100%;  
}
.article{
  border: 2px solid black;
  margin-bottom: 20px;
  padding: 5px;
}
.article .title {
  margin: 0 auto;
  width: 22%;
  
}








.text {
  height: 100%;
  /* display: inline-block;
  width: 75%;
  vertical-align: top; */
}




.content p {
  margin: 0 0 4px 0;          
 
 
}

.article a {
  text-decoration: none;
  padding: 2px;
  color: white;
  border: 1px solid black;
  background-color:#4dabf5 ;
  border-radius: 5px ;
  font-size: 14px;
}

.content a:hover {
  text-decoration: underline;
}


