 .head{
    height: 5%;
    width: 100%;
    text-align: right;
}
.subhead{
    background-color: #4dabf5;
    width: 100%;
    display: block;
    text-align: left;
}
.headmenu {
    display: inline-block;
    margin: 0 auto;
    float: none;
}